/*                                +++RESPONSIVE+++                             */
@media screen and (min-width: 1920px){
	.wrapper{
		max-width: 1910px;
	}
	.price{
		font-size: 50px;
	}
	header{
		.language{
			margin-left: 1140px;
			width: 185px;
			height: 40px;
			font-size: 20px;
			padding-left: 30px;
			letter-spacing: 1px;
			background: url(../img/icons/arrow.png) 150px center no-repeat @brown;
		}
		.tel{
			font-size: 24px;
		}
	}
	nav.navigation li a{
		font-size: 16px;
	}
	section.search{
		.title{
			font-size: 30px;
		}
		form{
			&>select{
				width: 360px;
				font-size: 22px;
				background: url(../img/icons/arrow-grey.png) 300px center no-repeat #fff;
			}
			input{
				width: 1115px;
				font-size: 22px;
			}
			button{
				width: 360px;
				font-size: 30px;
				letter-spacing: 1px;
				text-indent: -50px;
				&:after{
					right: 100px;
				}
			}
		}
	}
	.news{
		.post{
			width: 740px;
			margin-left: 200px;

			.title{
				font-size: 67px;
				line-height: 67px;
			}
			.info{
				font-size: 26px;
				line-height: 48px;
				letter-spacing: 2px;
			}
			.more{
				width: 355px;
				height: 95px;
				line-height: 95px;
				font-size: 32px;
			}
			&:before{
				height: 145px;
				width: 132px;
				top: 20px;
				left: -150px;
			}
		}
	}
	.offer{
		.title{
			font-size: 42px;
		}
		.post{
			width: 935px;

			.head{
				margin: 35px;
				font-size: 32px;
			}
			.details{
				font-size: 25px;
				line-height: 45px;
				margin: 45px 30px;
			}
			.footer{
				height: 135px;
				line-height: 135px;
				.author{
					font-size: 22px;
					letter-spacing: 1px;
					margin-left: 50px;
				}
				.more{
					width: 290px;
					height: 75px;
					margin: 30px 30px 0 0;
					line-height: 75px;
					font-size: 29px;
					text-indent: -30px;

					&:after{
						height: 36px;
						width: 32px;
						top: 19px;
						right: 60px;
					}
				}
			}
		}
	}
	.contacts{
		padding-bottom: 150px;
		.title{
			margin-top: 100px;
			margin-bottom: 90px;
		}
		.adress, .tel{
			width: 680px;
			padding-left: 320px;
			font-size: 45px;
			line-height: 60px;
			&:before{
				height: 270px;
				width: 270px;
				}
		}
		.tel{
			padding-top: 110px;
		}
	}
	.navigation.wrapper ul{
		width: 830px;
	}
	.supporting{
		font-size: 16px;
		.info{
			margin-left: 240px;
		}
		select, .search{
			font-size: 16px;
		}
	}
	.filter{
		width: 460px;
		.filter-block {
			padding: 0 14px 20px;

			.title{
				font-size: 24px;
			}
			a{
				font-size: 19px;
			}
			button{
				height: 60px;
				line-height: 60px;
				font-size: 19px;
				letter-spacing: 2px;
			}
			h3{
				padding: 25px 0;
				font-size: 19px;
			}
			.min, .max{
				width: 192px;
				font-size: 20px;
				margin-bottom: 30px;
				height: 50px;
				padding-left: 16px;
			}
		}
		.ui-slider .ui-slider-handle{
			width: 25px;
			height: 25px;
			top: -13px;
		}
		.ui-slider-horizontal .ui-slider-handle{
			margin-left: -12px;
		}
	}
	.agent{
		width: 433px;
		p{
			font-size: 20px;
			line-height: 36px;
			margin: 40px 0 25px;
		}
		input{
			height: 60px;
			margin-bottom: 17px;
			font-size: 20px;
		}
		input[type=email], input[type=submit]{
			font-size: 20px;
		}
	}
	.list{
		margin-left: 480px;
		.house{
			img{
				width: 370px;
			}
			.details{
				width: calc~'(100% - 390px)';
			}
			.title{
				font-size: 32px;
				padding-bottom: 23px;
			}
			.tags span{
				font-size: 21px;
				padding: 15px 23px;
				margin-top: 23px;
				margin-right: 15px;
			}
			li{
				font-size: 21px;
				line-height: 45px;
				letter-spacing: 1px;
				sup{
					font-size: 14px;
					top: -9px;
				}
			}
			.more{
				margin-top: 35px;
				clear: right;
				font-size: 30px;
				height: 75px;
				line-height: 75px;
				width: 420px;
				&:after{
					width: 35px;
					height: 40px;
					top: 17px;
				}
			}
		}
	}
	.pagination{
		height: 90px;
		line-height: 90px;
		.show{
			font-size: 16px;
			letter-spacing: 1px;
		}
		.pages{
			margin-left: 350px;
			span{
				margin-right: 2px;
			}
		}
		.up{
			line-height: 50px;
			font-size: 18px;
			padding: 0 125px 0 21px;
			&:after{
				width: 32px;
				height: 30px;
				right: 11px;
				top: 11px;
			}
		}
	}
	.search.mini{
		height: 520px;
		form{
			width: 460px;
			height: 370px;
			margin-top: 50px;
			input, select{
				font-size: 14px;
			}
			select{
				width: 210px;
			}
			button{
				font-size: 22px;
				height: 50px;
				&:after{
					top: 8px;
					right: 150px;
				}
			}
		}
		.title{
			margin-top: -5px;
			font-size: 24px;
			font-weight: 300;
		}
	}
	.contact{
		.title{
			font-size: 44px;
		}
		.adress-info, .contacts-info{
			margin-right: 90px;
		}
		.contacts-info{
			margin-left: 160px;
		}
		form{
			margin-right: 160px;
			width: 780px;

			input{
				font-size: 17px;
				height: 42px;
			}
			textarea{
				font-size: 17px;
			}
			[type="submit"]{
				font-size: 25px;
			}
		}
	}
	.map{
		height: 320px;
	}
	.projects{
		margin-left: 0;
		.house{
			width: 31%;
		}
	}
	.services{
		&>*{
			margin-right: 28px;
			margin-bottom: 28px;
		}
		p{
			font-size: 25px;
			line-height: 36px;
			letter-spacing: 3px
		}
		&>:before{
			height: 170px;
		}
		.col2{
			width: 940px;
		}
		.col{
			width: 456px;
		}
		.row2{
			height: 940px;
		}
		.row{
			height: 456px;
		}
		.service-12{
			margin-top: -482px;
		}
	}
	.product{
		.main-info{
			.photos{
				width: 380px;
				margin-right: 30px;
			}
			.container{
				img{
					width: 120px;
					height: 120px;
				}
			}
			.all{
				height: 50px;
				line-height: 50px;
				font-size: 16px;
			}
			img{
				width: 940px;
			}
			.tags{
				span{
					padding: 10px 19px;
					font-size: 16px;
				}
			}
			.details{
				width: 520px;
			}
			.title{
				width: 520px;
				font-size: 25px;
			}
			p{
				font-size: 16px;
				line-height: 32px;
				span{
					margin: 27px auto;
				}
			}
			.price{
				margin-bottom: 47px;
			}
		}
		.more-info{
			.short{
				width: 380px;
				font-size: 16px;
				line-height: 46px;
				letter-spacing: 1px;	
			}
			.description{
				width: 940px;
				font-size: 17px;
				line-height: 32px;
				letter-spacing: 1.5px;
				h3{
					font-size: 16px;
				}
				p{
					margin-bottom: 25px;
					padding-bottom: 20px;
				}
				.up{
					padding: 6px 50px 6px 16px;
					font-size: 16px;
					&:after{
						top: 9px;
						right: 9px;
						width: 27px;
						height: 23px;
					}
				}
			}
			form{
				width: 510px;
				padding: 25px 15px 50px;
				.title{
					font-size: 25px;
					width: 240px;
					line-height: 36px;
					margin: auto;
				}
				span{
					font-size: 17px;
					width: 300px;
					line-height: 25px;
					letter-spacing: 1px;
				}
				input, textarea{
					font-size: 20px;
				}
				[type=submit]{
					height: 60px;
					font-size: 16px;
					line-height: 60px;
				}
			}
		}
	} 
}

@media screen and (max-width: 1200px) and (min-width: 980px){
	.wrapper{
		max-width: 980px;
	}
	header{
		.language{
			margin-left: 320px;
		}
	}
	section.search{
		.title{
			width: 470px;
			line-height: 70px;
			order: -3;
		}
		form input{
			width: 705px;
		}
		.buy{
			order: -2;
		}
		.about{
			order: -1;
		}
	}
	.news .post{
		width: 360px;
		margin-left: 120px;
		.title{
			font-size: 36px;
		}
		.info{
			font-size: 16px;
		}
	}
	.offer{
		.post{
			width: 480px;
		}
	}
	.contacts .adress, .contacts .tel{
		width: 465px;
	}
	.supporting{
		.info{
			margin-left: 100px;
		}
		.delete:before{
			top: 4px;
		}
	} 
	.filter{
		width: 250px;
		.filter-block{
			a{
				font-size: 12px;
			}
			.min, .max{
				width: calc(~'100% - 10px');
				margin-left: 0;
			}
			.min{
				margin-bottom: 10px;
			}
			.max{
				margin-bottom: 25px;
			}
		}
	}
	.agent{
		width: 225px;
		p{
			font-size: 12px;
			line-height: 23px;
		}
	}
	.list{
		margin-left: 270px;
		.house{
			img{
				width: 220px;
			}
			.tags span{
				padding: 8px 15px;
				margin-right: 5px;
			}
		}
	}
	.search.mini{
		form{
			.buy{
				order: 0;
			}
		}
	}
	.contact{
		form{
			width: 420px;
		}
	}
	.projects{
		.house{
			img{
				width: 180px;
			}
			.tags span{
				padding: 8px 15px;
				margin-right: 5px;
			}
			.more{
				height: 45px;
			}
			.title{
				width: calc(~'100% - 200px');
				margin-left: 200px;
			}
			.details{
				width: calc(~'100% - 200px');
			}
			ul{
				margin-top: 10px;
			}
		}
	}
	.services{
		&>*{
			margin-right: 14px;
			margin-bottom: 14px;
		}
		p{
			font-size: 13px;
			line-height: 21px;
			letter-spacing: 1px
		}
		.col2{
			width: 482px;
		}
		.col{
			width: 234px;
		}
		.row2{
			height: 482px;
		}
		.row{
			height: 234px;
		}
		.service-12{
			margin-top: -248px;
		}
	}
	.product{
		.main-info{
			.photos{
				width: 255px;
			}
			.container{
				img{
					width: 80px;
					height: 80px;
					margin: 0 7px 7px 0;
				}
			}
			.details{
				width: 290px;
			}
			.title{
				width: 290px;
			}
			img{
				width: 400px;
			}
		}
		.more-info{
			.short{
				width: 230px;	
			}
			.description{
				width: 400px;
			}
			form{
				width: 270px;
				padding: 25px 15px 50px;
				.title{
					width: 190px;
					margin: auto;
				}
				span{
					width: 220px;
				}
			}
		}
	} 
}
@media screen and (max-width: 979px) and (min-width: 480px){
	.wrapper{
		max-width: 480px;
	}
	header{
		height: 340px;
		display: flex;
		flex-wrap: wrap;

		.wrapper{
			justify-content: center;
			text-align: center;
			flex-wrap: wrap;
		}
		.logo{
			width: 100%;
		}
		.language{
			
			margin-left: 0;
		}
		.tel{
			width: 100%;
			order: 0;
			&:before{
				left: 140px;
			}
		}
		.social{
			display: inline-block;
			margin-top: 0;
			.vk{
			background: url('../img/icons/sprite.png') 0 -232px no-repeat;
			}
			.fb{
				background: url('../img/icons/sprite.png') 0 -151px no-repeat;
			}
			.youtube{
				background: url('../img/icons/sprite.png') 0 -274px no-repeat;
			}
			.google{
				background: url('../img/icons/sprite.png') 0 -192px no-repeat;
			}
		}
	}
	nav.navigation.top{
		position: relative;
		display: block;
		height: 75px;
		.wrapper{
			position: relative;
			top: 25px;
			width: 60px;
			height: 27px;
			background: url('../img/icons/gamburger.png') no-repeat;
			cursor: pointer;
		}
		ul{
			position: absolute;
			display: none;
			left: -95px;
			top: 35px;
			float: none;
			background: #fff;
			margin: auto;
			width: 250px;
			border-radius: 10px;
			border: 2px solid #4e4d46;
			z-index: 1;
		}
		li{
			display: block;
			text-align: center;
			height: 40px;
			line-height: 40px;
			border-bottom: 2px solid #f2f2f2;
			cursor: pointer;
			&:hover{
				background: #f2f2f2;
				border-bottom: 2px solid #4e4d46;
			}
			&:first-child{
				border-radius: 10px 10px 0 0;
			}
			&:last-child{
				border-radius: 0 0 10px 10px;
				border-bottom: none;
			}
		}
		li a{
			border: none;
			&:hover{
				color: #4e4d46;
			}
		}
		.social{
			display: none;
		}
	}
	section.search{
		height: 775px;
		form{
			margin-top: 80px;
			&>*{
				margin-right: 0;
			}
			.title{
				order: -2;
				margin-bottom: 0;
				text-align: center;
			}
			input{
				order: -1;
			}
			button{
				order: 1;
				width: 100%;
			}
		}
	}
	.news{
		padding-bottom: 40px;
		.post{
			float: none;
			margin-left: 110px;
			margin-bottom: 80px;
			width: 370px;

			.title{
				font-size: 36px;
				line-height: 36px;
			}
			.info{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	.offer{
		.post:first-of-type, .post:last-of-type{
			float: none;
			width: 100%;
			padding-top: 1px;
		}
	}
	.contacts{
		.tel, .adress{
			float: none;
			margin-bottom: 60px;
		}
	}
	.wrapper.navigation{
		display: none;
	}
	footer{
		.wrapper{
			display: flex;
			flex-wrap: wrap;
		}
		.social{
			width: 100%;
			text-align: center;	
		}
		.slogan{
			order: 1;
			float: none;
			margin: auto;
		}
	}
	.supporting{
		height: 113px;
		.wrapper{
			display: flex;
			flex-wrap: wrap;
		}
		.delete, .info{
			display: none;
		}
		select, .search{
			margin-top: 9px;
			float: none;
			width: 100%;
		}
		select{
			margin-right: 0;
			background: url(../img/icons/arrow-grey.png) 435px center #fff;
		}
		.search{
			order: 1;
			background: url(../img/icons/search-hover.png) 435px center no-repeat #fff;
			&::-webkit-input-placeholder {color:#727272;}
			&::-moz-placeholder          {color:#727272;}
			&:-ms-input-placeholder      {color:#727272;}
			&:focus{
				background: #fff;
				width: 100%;
			}
		}
	}
	.supporting+.wrapper{
		overflow: initial;
	}
	.filter{
		float: none;
		width: 100%;
		border: 1px solid #f0f0f0;
		padding: 0 9px;
		height: 40px;
		overflow: hidden;

		&:before{
			position: absolute;
			display: block;
			content: '';
			top: 15px;
			right: 17px;
			height: 20px;
			width: 40px;
			z-index: -1;
			background: url('../img/icons/arrow-grey.png') no-repeat;
		}
		h2{
			display: block;
			margin: 13px 0 25px;
			text-align: center;
			letter-spacing: 1px;
			font-size: 13px;
			color: #4e4d46;
			text-transform: uppercase;
			cursor: pointer;
		}
		.filter-block{
			padding: 0 15px 20px;
			background: #f0f0f0;
			a{
				font-size: 12px;
			}
			button{
				width: 230px;
				margin: 0 auto;
			}
		}
		.filters{
			background: #fff;
			.min, .max{
				box-sizing: border-box;
				width: 100%;
				margin: 0;
				padding-left: 90px;
			}
			.max{
				margin: 12px 0 25px;
			}
		}
	}
	.agent{
		box-sizing: border-box;
		width: 100%;
		margin-top: 10px;
	}
	.list{
		margin-left: 0;
		float: left;
		border-bottom: 5px solid #d6d6d6;

		.house{
			img{
				width: 100%;
				margin-bottom: 15px;
			}
			.details{
				width: 100%;
				.tags span{
					margin-right: 5px;
				}
				ul{
					float: none;
				}
				.more, .price{
					float: left;
					clear: left;
					margin-top: 20px;
				}
				.more{
					box-sizing: border-box;
					width: 100%;
					height: 44px;
					line-height: 38px;
					&:after{
						top: 9px;
					}
				}

			}
		}
	}
	.pagination{
		clear: both;
		height: 130px;
		.wrapper{
			display: flex;
			flex-wrap: wrap;
		}
		.up{
			display: none;
		}
		.pages{
			order: -1;
			margin: auto;
			font-size: 12px;
		}
		.show{
			margin: auto;
			font-size: 12px;
		}
	}
	.search.mini{
		height: 750px;
		form{
			margin: 120px auto 0; 
		}
	}
	.contact {
		.adress-info, .contacts-info{
			float: none;
			margin: 0 auto 50px;
			width: 300px;
			p{
				text-align: center;
			}
		}
		form{
			margin: auto;
			width: 460px;
			float: none;
		}
	}
	.projects{
		.house.head{
			border: none;
		}
		.house{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			border: 1px solid #f0f0f0;
			padding: 20px 10px 25px;
			&:before{
				display: none;
			}
			img{
				order: -1;
				width: 100%;
				margin-right: 0;
			}
			.title{
				margin-left: 0;
				width: 100%;
				order: -2;
			}
			.details{
				width: 100%;
			}
			.price{
				width: 100%;
				margin-top: 0;
			}
			.more{
				width: 100%;
			}
			ul{
				margin-top: 0;
				border-bottom: none;
			}
		}
		.house:last-child{
			border: 1px solid #f0f0f0;
			margin-bottom: 55px;
		}
	}
	.services{
		margin-bottom: 38px;
		&>*{
			margin-right: 0;
			margin-bottom: 14px;
			float: none;
		}
		p{
			font-size: 13px;
		}
		.col2, .col{
			width: 100%;
		}
		.row2, .row{
			height: 235px;
		}
		.service-12{
			margin-top: 0px;
		}
	}
	.product{
		.main-info{
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 35px;
			.photos{
				width: 100%;
				margin-right: 0;
				order: -2;
			}
			.title{
				order: -4;
			}
			.container{
				img{
					width: 85px;
					height: 85px;
					&:nth-child(3n){
						margin-right: 7px;
					}
					&:nth-child(5n){
						margin-right: 0px;
					}
				}
			}
			.tags{
				order: -1;
			}
			.details{
				width: 290px;
			}
			img{
				order: -3;
				width: 100%;
				margin-bottom: 8px;
			}
		}
		.more-info{
			.short{
				width: 100%;
				padding-left: 0;
				border-bottom: 1px solid #f0f0f0;
				padding-bottom: 30px;
				margin-bottom: 25px;	
			}
			.description{
				width: 100%;
			}
			.up{
				display: none;
			}
			form{
				width: 100%;
				padding: 35px 15px 45px;
				box-sizing: border-box;
				.title{
					width: 100%;
					margin: auto;
				}
				span{
					width: 310px;
				}
			}
		}
	}
}